
body, * {
  margin: 0;
  font-family: 'Montserrat', Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

main {
  min-height: calc(100vh - 250px);
  margin: 0 100px 100px 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat' 'Courier New',
    monospace;
}

@media screen and (max-width: 800px) {
  .pageContainer {
    padding: 0 18px;
  }
  main {
      margin: 0;
  }
}